body{
    background-image: url(assets/nadine-shaabana-YsPnamiHdmI-unsplash.jpg);
    background-size: cover;
}

.row{
    text-align: center;
}

h1{
    font-size: 40px;
    font-weight: bolder;
    color: yellow;
    text-align: center;
    margin-top: 70px;
}

h2{
    font-size: 80px;
    font-weight: bolder;
    color: yellowgreen;
    padding-top: 200px;
}

h6{
    color: white;
    font-size: 25px;
}

li{
    display: block;
}

img{
    width: 60px;
    height: 60px;
    margin-top: 50px;
    cursor: pointer;
}

.background:hover{
    background-color: whitesmoke;
    border-radius: 50%; 
}

.baru{
    background-color: whitesmoke;
    border-radius: 50%;  
}

.refresh img{
    width: 30px;
    height: 30px;
    background-color: greenyellow;
}
